<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h2>Created by <a href="https://github.com/pabloegpf1">Pablo Escriva</a>.</h2>
  <p>Check out the source code, as well as information to use this template <a
      href="https://github.com/pabloegpf1/Node-Postgres-Docker">here</a>.</p>
  <h3>Test the database: <a href="/users">Run Query</a></h3>
</body>

</html>